html, body {
    font-family: Georgia, serif;
}

.padding-100px-top{
	padding-top:100px;
}

.padding-50px-top{
	padding-top:100px;
}

.container-fluid{
    padding-bottom: 50px;
}


#menu-icon{
	display: hidden;
	height: 40px;
	width: 40px;
	background: url(/ui/images/menu-icon.png) center;
}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

.bgimg{
		background-image: url(/ui/images/background.png);
		background-repeat: repeat;
		}
		
div.menu{
	position: fixed;
}


.center{
	text-align:center;
}

.neontext {
	text-shadow: 1px 1px 2px #00c5ff, 0 0 25px #004bff, 0 0 5px #000fff;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.whitetext{
	color: white;
}

.img-medium {
    height: 200px;
}


a:link{
	text-decoration: none;
}




div.navigation {
	top:0;
	left:0;
	width:100%;
	z-index:100;
	background: #272822;
	padding: 10px;
	height:5em;
	border-bottom: 2px solid #26d9e8;
}

 div.navigation a{
	color:inherit;
}

.right{
	float:right;
}

.left{
	float:left;
}

div.navigation li{
	margin-top:10px;
	margin-right:20px;
	border: 1px solid #dee22e;
	color: #dee22e;
	border-radius: 4px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	list-style-type: none;
	line-height:1em;
	transition: border-color 0.2s linear;
}


div.navigation li:nth-child(2){
	border-color: #f55c31;
	color:#f55c31;
}

div.navigation li:nth-child(3){
	border-color: #f92672;
	color:#f92672;
}

div.navigation li:nth-child(4){
	border-color: #ae81ff;
	color:#ae81ff;
}

div.navigation span li:nth-child(1){
	border-color: #54ce3f;
	color:#54ce3f;
}



div.navigation li:not(:hover){
	border-color: #272822;
}

div.navigation span li:not(:hover){
	border-color: #272822;
}

div.navigation li.selected1{
	background: #dee22e;
	color: #272822;
}

div.navigation li.selected2{
	background: #f55c31;
	color: #272822;
}

div.navigation li.selected3{
	background: #f92672;
	color: #272822;
}

div.navigation li.selected4{
	background: #ae81ff;
	color: #272822;
}

div.navigation span li.selected5{
	background: #54ce3f;
	color: #272822;
}

.resizeProfileImg{
	height:200px;
	width:200px;
	border-radius: 100%;
	box-shadow: 1px 1px 2px red, 0 0 25px orange, 0 0 5px red, 0 0 50px yellow;
	margin-bottom: 20px;
}

#wrapper{
	margin-top:30px;
	background: #000;
	padding: 25px 25px 25px 25px;
	font-size:26;
	color: #fff;
	opacity:0.8;
	box-shadow: 0 0 5px red, 0 0 1px red, 0 0 25px orange;
	border-radius:5px;
	text-align: center;
}


.articles{
	display:block;
	margin-top:100px;
}



.articles li{
	display:block;
	padding-bottom:20px;
}

.articles a:link{
	font:bold;
	color:black;
}

.articles a:visited{
	color:grey;
}


.displaynews{
	width:75%;
	height: 400px;
	background-color: white;
	border: none;
	border-radius:5px;
}


#Social{
	right:0;
	top: 75px;
	position:fixed;
	border: 2px solid #795032;
	border-width: 2px 0px 2px 2px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #906f56;
}

#Social ul, #Social li{
	margin: 8px;
	padding:0;
}

#Share{
	list-style-type: none;
}

div.dropdown{
	margin-right: 50px;
	margin-top:10px;
}

.dropdown-menu {
  min-width: 100px;
}

.vertical-align {
   
    display: flex;
    align-items: center;
	min-height: 100%;  /* Fallback for vh unit */
	min-height: 100vh;
	justify-content : center;
	margin-bottom:0;
}

#commentbox{
	margin-bottom: 100px;
}

@media only screen and (max-width : 640px) {
	
	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		border: 2px solid #26d9e8;
		background: #272822;
		left: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}
	
	#menu-icon{
		display:inline-block;
	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}
	
	nav #login li{
		float: left;
	}

	nav:hover ul {

		display: block;

	}
	
	#wrapper{
		margin-top: 100px;
	}
	
	#Social ul, #Social li{
		margin:4px;
	}
	
	span.dropdown button, p{
	    width:100%;
		margin-top:20px;
	}
	
}


